@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

$colors: (
  primary: #e9e9e9,
  secondary: #100013,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Montserrat';
  color: color(primary);
  background-color: color(primary);
}

#header-container {
  text-align: center;
  padding: 1.2em;
  background-color: color(secondary);
  #header {
    font-size: 2.5em;
    font-weight: 600;
    display: inline-block;
    color: color(primary);
  }
}

#img-container {
  height: 120px;
  width: 120px;
  margin: 1.5em auto 0 auto;
  padding: 30px;
  border-radius: 50%;
  background-color: color(primary);
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.7),
    12px 12px 12px 0 rgba(0, 0, 0, 0.15);
  #img {
    margin: 0 0 0 12px;
  }
}

#section-container {
  text-align: left;
  padding: 18.81px;
  margin-top: 0.5em;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  #message {
    color: color(secondary);
    padding: 20px 20px;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    border-radius: 20px;
    background-color: color(primary);
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.7),
      12px 12px 12px 0 rgba(0, 0, 0, 0.15);
  }
}

#button {
  text-align: center;
  position: absolute;
  top: 500px;
  width: 300px;
  padding: 1em 0;
  left: 50%;
  margin-left: -150px;
  border-radius: 20px;
  background-color: color(primary);
  box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.7),
    12px 12px 12px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: hsla(0, 39%, 89%, 1);
  }

  #button-text {
    color: #9e0a26;
    font-size: 1.5em;
    font-weight: 600;
    display: inline-block;
  }
}

#footer {
  padding: 0.3em 0 0 0;
  background-color: color(secondary);
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  #footer-text {
    margin-bottom: 10px;
    color: color(primary);
    font-size: 0.7em;
    font-weight: lighter;
    display: inline-block;

    a {
      font-weight: 600;
      color: color(primary);
      text-decoration: none;
    }
  }
}
